<div class="cuaternario" fxLayout="row" fxLayoutAlign="space-between center" >

    <div><a href="/Services"><mat-icon aria-hidden="false" aria-label="return icon" class ="arrow">undo</mat-icon>Volver</a></div>

    <div class="div-tree"><iframe src="http://localhost:3000/arbol" frameborder="0" class="div-tree2" ></iframe></div>
    

    
    <!--br>
    <div>
        <h1>{{Title}} &nbsp; </h1>
        <hr>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <h2>Modelo actual &nbsp; &nbsp;&nbsp; &nbsp;</h2>
            <div class="col-md-15" *ngFor = "let apli of aplis">
                <a href="{{apli.link}}" target="_blank">{{apli.apli_name}}</a>
                <hr>
            </div>
        </div>
        <div>
            <h2>Modelo objetivo &nbsp; &nbsp;</h2>
            <div class="col-md-15" *ngFor = "let aplio of apliso">
                <a href="{{aplio.link}}" target="_blank">{{aplio.apli_name}}</a>
                <hr>
            </div>
            
        </div>
    </div>
    <div class="col-md-4" fxLayoutAlign="end end">
        <img src="../../../assets/icon/editar.png" (click)="onEdit()">
    </div-->
</div>

