h1{
    font-family: Helvetica 15%;
    font-size: 30pt;
    color: black;
}

span {
  font-size: 19pt;
}
 

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    font-size: 14pt;
    color: black;
  }
  
  a:link {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:focus {
    border-bottom: 1px solid;
  }
  
  a:hover {
    border-radius: 5px;
    font-size: 18pt; 
  }
  
  a:active {
    color: rgb(86,134,136);
  }

  .arrow{
    font-size: 25px;
  }

  .arrow:hover{
    font-size: 30px;
  }